<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crims.apps.dao.devicemonitor.ViewMonitorAlaramTypeDao">
  <resultMap id="BaseResultMap" type="com.crims.apps.model.devicemonitor.ViewMonitorAlarmType">
    <id column="mpid" jdbcType="VARCHAR" property="mpid" />
    <result column="appsrvid" jdbcType="VARCHAR" property="appsrvid" />
    <result column="deviceid" jdbcType="VARCHAR" property="deviceid" />
    <result column="mptype" jdbcType="VARCHAR" property="mptype" />
    <result column="mpname" jdbcType="VARCHAR" property="mpname" />
    <result column="dsp" jdbcType="VARCHAR" property="dsp" />
    <result column="usestate" jdbcType="INTEGER" property="usestate" />
    <result column="operateaction" jdbcType="INTEGER" property="operateaction" />
    <result column="lastmodifytime" jdbcType="TIMESTAMP" property="lastmodifytime" />
    <result column="alarmtype" jdbcType="VARCHAR" property="alarmtype" />
  </resultMap>

  <sql id="Base_Column_List">
    mpid, appsrvid, deviceid, mptype, mpname, dsp,usestate, operateaction, lastmodifytime,alarmtype
  </sql>

  <select id="getList" resultType="com.crims.apps.model.devicemonitor.ViewMonitorAlarmType" parameterType="string">
    select
    <include refid="Base_Column_List"/>
    from view_monitorpoint_alarmtype
    <where>
      <if test="operate!=null">
        and operateaction=#{operate}
      </if>
      <if test="operate==null">
        and operateaction &lt;&gt;0x00010803
      </if>
      <if test="deviceId!=null and deviceId!=''">and
        deviceid =#{deviceId}
      </if>
      <if test="locationCode!=null and locationCode!=''">
        and deviceid in (select deviceid from conf_device where LEFT(CONCAT(LEFT(deviceid,8)  ,SUBSTR(deviceid,11,5)),LENGTH(#{locationCode})) =#{locationCode})
      </if>
      <if test="mpType!=null and mpType!=''">and
        mptype =#{mpType}
      </if>
      <if test="mpName!=null and mpName!='' ">
        and mpname LIKE
        CONCAT('%',#{mpName,jdbcType=VARCHAR},'%')
      </if>
    </where>
  </select>

</mapper>